.section2 {
  padding: .75vw 3vw;
  background: linear-gradient(-45deg, #066217, #0e7c2a, #1fab47, #066217);
  background-size: cover;
  background-position: center;
  color: #cde66a;
  font-size:large;
  font-weight: bold;
  text-align: center;
  flex:content;
  animation: gradientMove 8s ease infinite; 
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}